/* assets/css/extended/custom.css */

/* Define variables in :root for global scope */
:root {
    --primary-color: #9f6002;
}

/* link */

a {
    color: var(--primary-color);
}


/* Archives page */
.page-header {
    color: var(--primary-color);
}