/* assets/css/extended/custom.css */

/* Define variables in :root for global scope */
:root {
/* Base theme (light) */
  --color-primary: #945c07;
  --color-primary-hover: #945c06; /* Slightly darker for hover */
  --color-primary-light: #ffedcc; /* Very light version for backgrounds */
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
      --color-primary: #bf8432;    /* Lighter version of your primary color */
      --color-primary-hover: #d99b3f; /* Even lighter for hover in dark mode */
      --color-primary-light: #3d2601; /* Darker version for backgrounds */

    }
  }

/* link */

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-primary-hover);
}


/* Archives page */
.page-header {
    color: var(--primary-color);
}

/* notice style */

.notice {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
}

.notice.note {
  background: #eef6fc;
  border-left: 5px solid #3298dc;
}

.notice.tip {
  background: #effaf5;
  border-left: 5px solid #48c78e;
}

.notice.danger {
  background: #fff5f7;
  border-left: 5px solid #ff3860;
}

.notice.warning {
  background: #fff9e6;
  border-left: 5px solid #f7b924;
}


.notice.info {
  background: #f6f9fe;
  border-left: 5px solid #3e8ed0;
}